.app-logo{
    background-color: rgb(215, 189, 18);
    height:30px;
    width:30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
@media (max-width:767px){
    .app-logo{

        height:20px;
        width:20px;

    }
}
.app-name{
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    color:#ffffff;
}
@media (max-width:767px){
    .app-name{
font-size: 15px;

    }
}
.n{
    display: flex;
    justify-content: space-between;
    width:90%;
    padding-top:30px;
    padding-bottom:30px;
}
@media (max-width:767px){
    .n{
   
        padding-top:15px;
        padding-bottom:15px;
    }
}
.navbar{
    background-color: #000000;
    display:flex;
    align-items: center;
   justify-content: center;
}
.nav{
    display:flex;
    align-items: center;
   
}
.list-item{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
    list-style-type: none;
    margin:4px;
    text-decoration: none;
}

@media (max-width:767px){
    .list-item{
        font-size: 10px;
      
       
    }}

.book-btn{
    background-color: rgb(215, 189, 18);
    font-family: "Lucida Console", "Courier New", monospace;
   font-size: 15px;
   border-width:0px;
   padding:10px 20px;
   border-radius: 20px;
   color:#000000;

}
@media (max-width:767px){
    .book-btn{
        background-color: rgb(215, 189, 18);
        font-family: "Lucida Console", "Courier New", monospace;
       font-size: 10px;
       border-width:0px;
       padding:5px 5px;
       border-radius: 10px;
       color:#000000;
    
    }}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}