.footer {
    background-color: #000;
    color: #ffcc00;
    padding: 40px 0px;
    font-family: Arial, sans-serif;
  }
  @media (max-width:767px){
    .footer{
      padding: 20px 0px;
    }
  }
  
  .footer-container {
   display:flex;
   justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (max-width:767px){
    .footer-container {
     
       gap: 10px;
      
     }
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    font-family: 'Bree Serif';
    margin-bottom: 10px;
    text-align: left;
  }
  @media (max-width:767px){
    .footer-section h3 {
      font-size: 12px;
      margin-bottom: 8px;
    
    }
  }
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
    text-align: left;
  }
  
  .footer-section ul li a {
    color: #ffcc00;
    text-decoration: none;
    font-family: 'Arial';
    color:#ffffff;
    font-size: 18px;
    
  }
  @media (max-width:767px){
    .footer-section ul li a {
 
      font-size: 10px;
      
    }
  }
  
 
  
  .footer-section p {
    margin: 5px 0;
    font-family: 'Arial';
    color:#ffffff;
    text-align: left;
    font-size: 18px;
  }
  @media (max-width:767px){
    .footer-section p {
   
      font-size: 10px;
    }
  }
  
  .footer-section a {
    font-family: 'Arial';
    color:#ffffff;
    text-align: left;
    font-size: 18px;
  }
  @media (max-width:767px ){
    .footer-section a {
    
      font-size: 10px;
    }
  }
  .footer-section a:hover {
    text-decoration: underline;
  }
  .social-icons{
    display: flex;
  }
  .social-icons a{
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 15px;
   
  }
  @media (max-width:767px){
    .social-icons a{
      color: #ffffff;
      font-size: 0.5rem;
      margin-right: 10px;
     
    }
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    margin-top: 20px;
  }
  @media (max-width:767px){
    .footer-bottom {
      text-align: center;
      padding-top: 15px;
      border-top: 1px solid #333;
      margin-top: 10px;
    }
  }