.testimonials-container {
    background-color: #faf5e6; /* Light beige background */
    padding: 60px 20px;
    text-align: center;
  }
  @media (max-width:768px) {
    .testimonials-container {
      padding: 30px 10px;
     min-height: 50vh;
    }
  }
  .testimonials-container h2 {
    font-size: 32px;
    color: #000000;
    font-family: 'Bree Serif';
    margin-bottom: 40px;
  }
  
  @media (max-width:768px) {
    .testimonials-container h2 {
      font-size: 22px;
      margin-bottom: 20px;
    }
    
  }
  .testimonial-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between the cards */
    position: relative;
    height: 300px; /* Adjust based on your card height */
  }
  @media (max-width:768px) {
    .testimonial-cards {
     gap:10px;
      height: 100%; /* Adjust based on your card height */
    }
  }
  .testimonial-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width:768px) {
    .testimonial-card {
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  .quote {
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 20px;
   
  }
  @media (max-width:768px) {
    .quote {
   
      margin-bottom: 10px;
      font-size: 12px;
      padding: 10px;
     
    }
  }
  .quote-icon {
    font-size: 36px;
    color: #333;
   
  }
  @media (max-width:768px) {
    .quote-icon {
      font-size: 12px;
      
     
    }
  }
  
  .testimonial-author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #ffdd6b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
  }
  
  .testimonial-card.active {
    transform: scale(1.1); /* Enlarge active card */
    opacity: 1;
    z-index: 2;
  }
  
  .testimonial-card.inactive {
    opacity: 0.5;
    transform: scale(0.9); /* Shrink inactive cards */
  }
  .author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  @media (max-width:768px) {
    .author-image {
      width: 30px;
      height: 30px;
   
      margin-right: 10px;
    }
  }
  
  .author-info {
    text-align: left;
  }
  
  .author-name {
    font-weight: 600;
    color: #333;
  }
  
  .author-company {
    font-size: 14px;
    color: #777;
  }
  @media (max-width:768px) {
    .author-company {
      font-size: 12px;
      
    }
  }
  
  /* Carousel Indicators */
  .carousel-indicators {
    margin-top: 30px;
  }
  
  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  @media (max-width:768px) {
    .indicator {
    
      width: 5px;
      height: 5px;
      margin: 0 5px;
     
    }
  }
  .indicator:hover {
    background-color: #333;
  }
  
  .indicator.active {
    background-color: #ffdd6b; /* Active yellow color */
  }
  